/*$color-white: #fff;
$color-black: #000;
$color-primary: #136353;
$color-secondary: #15705E;
$color-terciary: #21B093;
$color-cuaternary: #0E4A3E;*/
$color-white: #fff;
$color-black: #000;
$color-primary: #136353;
$color-secondary: #117A65;
$color-terciary: #63181E;
$color-cuaternary: #B06910;